 *{
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans';
}

a {
    color: black;
    text-decoration: none;
}

.medsos {
    padding: 5px 0px;
    background-color: coral;
}

.medsos ul li{
    display: inline-block;
    color: white;
    margin-right: 10px;
}

.container {
    width: 90%;
    margin: 0px auto;
}

header h1 {
    float: left;
    padding: 15px 0px;
    text-decoration: underline;
}

header ul {
    float: right;
}

header ul li {
    display: inline-block;
    background-color: coral;
}

header ul li a {
    padding: 15px 20px;
    display: inline-block;
    background-color: white;
}

.content {
    padding: 0px 70px;
}

.content h2 {
    background-color: gray;
}
