.jumbotron {
	padding-top: 1cm;
	background-color: #e0cffc
}

.about {
	padding-top: 1cm;
	padding-bottom: 1cm;
}

#projects {
	background-color: #e0cffc
}

.baris1 {
	padding-top: 1cm;
	padding-bottom: 1cm;
}

.baris2 {
	padding-bottom: 1cm;
}

.jumbotron {
	padding-top: 4cm;
}

section {
	padding-top: 10rem;
}

#form {
	 width: 40%;
     border-top: 2px solid black;
     border-bottom: 2px solid black;
     border-left: 2px solid black;
     border-right: 2px solid black;
}

#x {
	margin-bottom: -1cm ;
} 

#bgnav {
	background-color: #30475E;
}

#tabelinput {
	background-color: #052c65;
}
